.topImage
  = image_tag asset_path('a0046233_011610.jpg'), class: "topImage--image_test"

.top_contents
  .top_contents__title
    最新のツイート一覧
- @tweets.each do |tweet|
  .top_contents__tweet_content
    .top_contents__tweet_content--body
      = simple_format(tweet.text)
    .top_contents__tweet_content__bottom
      .top_contents__tweet_content__bottom--userName
        = tweet.user.nickname
      = link_to tweet_path(tweet), method: :get, class: "top_contents__tweet_content__bottom__comment" do
        = icon('far fa', 'comment', class: 'top_contents__tweet_content__bottom__comment--icon')
        おしえて！