.tweet_contents
  .tweet_content
    .tweet_content__top
      .tweet_content__top--body
        = simple_format(@tweet.text)
    .tweet_content__bottom
      .tweet_content__bottom--name
        = @tweet.user.nickname
      - if user_signed_in? && current_user.id
        .tweet_content__bottom__outputNew
          = link_to "曲を投稿する", new_tweet_output_path(@tweet), class: "tweet_content__bottom__outputNew--btn"
      - else
        .tweet_content__bottom--warning
          曲を投稿したい方はログインしよう!
  .output_content
    .output_content__title
      あなたへのおすすめの曲
    - @outputs.each do |output|
      .output_content__body
        .output_content__body__left
        %iframe{allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: "", frameborder: "0", height: "315", src: "https://www.youtube.com/embed/#{output.youtube_url.last(11)}", width: "560", class: "output_content__body__left--youtube_container"}

        .output_content__body__right
          .output_content__body__right__name
            = icon('fas fa','user-circle', class: "output_content__body__right__name--icon")
            = "#{output.user.nickname}さんのコメント"

          .output_content__body__right__review
            = output.review
= paginate(@outputs)