!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", name: "viewport"}
    %title MusicQuest
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    = render partial: 'layouts/flash'
    .header{ id: "fixed" }
      .header__bar-row
        = link_to root_path, class: "header__bar-row--title" do
          Music Quest
        - if user_signed_in?
          .header__bar-row__right
            = link_to destroy_user_session_path, method: :delete, class: "header__bar-row__right__item" do
              ログアウト
            = link_to new_tweet_path, class: "header__bar-row__right__item" do
              曲を探す
            .header__bar-row__right__item
              .header__bar-row__right__item--greeting_message
                = "こんにちは"
              = icon('fas fa','user-circle')
              = current_user.nickname+" さん"
        - else
          .header__bar-row__right
            = link_to new_user_session_path, class: "header__bar-row__right__item" do
              ログイン
            = link_to new_user_registration_path, class: "header__bar-row__right__item" do
              新規登録
    = yield